@font-face { 
    font-family: pusab; src: url('assets/pusab.OTF'); 
} 

body {
    text-align: center;
}
h1 {
    font-family: pusab;
}
h3 {
    font-family: Comic Sans MS, sans-serif;
}

p {
    font-family: sans-serif;
}